body {
    background-color: #DCDCDC;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

/* fixed top bar section */

.top-bar {
    background-color: #A9A9A9;
    border-bottom: 1px solid #696969;
    position: fixed;
    /*test*/
    width: 100%;
    height: 100px;
    z-index: 64;
}

.top-bar-container {
    display: flex;
    justify-content: center;
}

.top-bar-logo {
    background-color: transparent;
    height: 60px;
    margin: 20px 0 20px 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: xx-large;
    text-align: center;
    line-height: 80px;
}

.top-bar-button-group {
    background-color: transparent;
    width: 240px;
    height: 70px;
    margin: 15px 5% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
}

.logo-title-name {
    color: #212529;
    font-weight: bold;
    line-height: 60px
}

.logo-title-name:hover {
    color: #212529;
    text-decoration: none;
}

#registion-button {
    background-color: #F5F5F5;
    color: #007bff;
    width: 100px;
    height: 40px;
    margin: 15px 2px 15px 0;
    border: 1px solid #696969;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#login-button {
    background-color: #F5F5F5;
    color: #007bff;
    width: 100px;
    height: 40px;
    margin: 15px 0 15px 2px;
    border: 1px solid #696969;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#logout-button {
    background-color: #F5F5F5;
    color: #007bff;
    width: 100px;
    height: 40px;
    margin: 15px 2px 15px 0;
    border: 1px solid #696969;
}

.user-name-span {
    margin: 15px 0 15px 0;
    line-height: 40px;
    text-align: center;
}

.user-name-link {
    color: #007bff;
    margin-right: 10px;
}

#dropdownMenuButton {
    background-color: #F5F5F5;
    color: #007bff;
    width: 120px;
    height: 40px;
    margin: 15px 0 15px 2px;
    border: 1px solid #696969;
}

/* main content section includ side bar(everything else under top bar) */

.content {
    max-width: 1280px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 110px;
}

.content-container {
    display: flex;
    justify-content: center;
}

.main-content-container {
    min-width: 584px;
    min-height: 960px;
}

.side-bar-container {
    background-color: #F5F5F5;
    border-top: 2px solid #C0C0C0;
    border-right: 2px solid #C0C0C0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-width: 300px;
    height: auto;
}

.side-bar-standard-item-container {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

.side-bar-sticky-item-container {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

.side-bar-item-container {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
    margin: 10px 0;
    padding: 0 10px;
}

.side-bar-search-title {
    font-size: x-large;
    border-bottom: 1px solid #A9A9A9;
}

.destination-input-field {
    background-color: white;
    color: #212529;
    width: auto;
    height: 40px;
    padding-left: 5px;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
    flex-grow: 1;
}

.check-in-date-span {
    background-color: #DCDCDC;
    border-top: 1px solid #A9A9A9;
    border-bottom: 1px solid #A9A9A9;
    border-left: 1px solid #A9A9A9;
    padding: 1px 5px 1px 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    flex-grow: 1;
    flex-shrink: 0;
    height: 40px;
    line-height: 36px;
    text-align: center;
}

.check-in-date-field {
    color: #212529;
    width: 160px;
    height: 40px;
    padding: 0 0 0 5px;
    border: 1px solid #A9A9A9;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.check-out-date-span {
    background-color: #DCDCDC;
    border-top: 1px solid #A9A9A9;
    border-bottom: 1px solid #A9A9A9;
    border-left: 1px solid #A9A9A9;
    padding: 1px 5px 1px 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    flex-grow: 1;
    flex-shrink: 0;
    height: 40px;
    line-height: 36px;
    text-align: center;
}

.check-out-date-field {
    color: #212529;
    min-width: 160px;
    height: 40px;
    padding: 0 0 0 5px;
    border: 1px solid #A9A9A9;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

#number-of-guests {
    border: 1px solid #A9A9A9;
    padding-left: 5px;
    flex-grow: 1;
    text-align: center;
    height: 40px;
    border-radius: 5px;
}

#side-bar-search-button {
    background-color: white;
    color: #007bff;
    width: 220px;
    height: 40px;
    border: 1px solid #A9A9A9;
}

/* main content */

.main-content-container {
    background-color: #F5F5F5;
    /* width: 100px; */
    margin-left: 10px;
    border-top: 2px solid #C0C0C0;
    border-right: 2px solid #C0C0C0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.accommodation-overview-item-container {
    background-color: #DCDCDC;
    /*width: 483px;
    height: 600px;*/
    margin: 20px 50px;
    border-top: 2px solid #C0C0C0;
    border-left: 2px solid #C0C0C0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.accommodation-picture-container {
    background-color: skyblue;
    width: 480px;
    height: 360px;
    border-radius: 4px;
}

.accommodation-description-container {
    background-color: transparent;
    width: 480px;
}

.accommodation-description-line-container {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.accommodation-price {
    background-color: transparent;
    height: 35px;
    width: 240px;
    line-height: 35px;
    padding-left: 20px;
}

.accommodation-host-rate {
    background-color: transparent;
    height: 35px;
    width: 240px;
    display: flex;
    flex-direction: row;
    align-content: center;
    line-height: 35px;
    padding-left: 20px;
}

.accommodation-number-of-room-container {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.number-of-room {
    background-color: transparent0;
    height: 35px;
    width: 160px;
    display: flex;
    flex-direction: row;
    align-content: center;
    line-height: 35px;
    padding-left: 20px;
}

.accommodation-room-rate {
    background-color: transparent;
    height: 35px;
    width: 240px;
    display: flex;
    flex-direction: row;
    align-content: center;
    line-height: 35px;
    padding-left: 20px;
}

#accommodation-review-modal-button {
    background-color: white;
    color: #007bff;
    margin: auto;
    padding: 3px 40px;
    border: 1px solid #A9A9A9;
}

.accommodation-address {
    background-color: transparent;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-content: center;
    line-height: 35px;
    padding-left: 20px;
}

.accommodation-smoke {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-content: center;
    line-height: 35px;
    padding-left: 20px;
}

.accommodation-pet {
    background-color: transparent;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-content: center;
    line-height: 35px;
    padding-left: 20px;
}

.accommodation-network {
    background-color: transparent;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-content: center;
    line-height: 35px;
    padding-left: 20px;
}

.accommodation-booking-button-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#accommodation-booking-button {
    background-color: white;
    color: #007bff;
    padding: 10px 50px;
    border: 1px solid #A9A9A9;
}

/*booking accommodation section*/

.book-accommodation-container {
    background-color: #F5F5F5;
    /* width: 100px; */
    border-top: 2px solid #C0C0C0;
    border-right: 2px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#book-infor-input {
    position: absolute;
    width: 50%;
    left: 25%;
    height: 60%;
    top: 10%;
    z-index: 999;
    text-align: center;
    display: none;
}

#boxclose {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: start;
    padding: 0%;
    position: relative;
}

#accommodation-confirm-book-button
{
    background-color: white;
    color: #007bff;
    margin-right: 10px;
}

#accommodation-confirm-close-button
{
    background-color: white;
    color: #007bff;
    margin-left: 10px;
}

#book-infor-input {
    text-align: start;
}

/* footer bottom bar(everything under main content) */

.bottom-bar {
    background-color: #A9A9A9;
    width: 100%;
    height: 400px;
    border-top: 1px solid #696969;
    z-index: 63;
}

/*minimum width to change layout*/

@media (min-width: 1280px) {
    .accommodation-overview-item-container {
        flex-direction: row;
    }
}